<header>
  <nav>
    <ul>
      <li><a href="/recipes">Recipe Book</a></li>
      <li><a href="/add_recipe">Add Recipes</a></li>
      <li><a href="/admin">Account</a></li>
    </ul>
  </nav>
</header>
