<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main>
    <div class="grid">
      <article class="recipe-card">
        <a href="#">
          <h2>Recipe Title</h2>
        </a>
    </div>
    </article>

    </div>
  </main>
  <%- include('../includes/end.ejs') %>